/* -------------------------1200px------------------------ */

@media only screen and (max-width: 1200px) {

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }

    .container {
        width: 100%;
    }

    .scroll-button {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .logo {
        width: 220px;
    }

    .nav-ul li a {
        padding: 7px 18px;
        font-size: 14px;
    }

    .header-text h3 {
        font-size: 18px;
        letter-spacing: 1.5px;
    }

    .header-text h2 {
        font-size: 25px;
    }

    .header-text h1 {
        font-size: 60px;
    }

    .header-text .btn1,
    .btn2 {
        font-size: 12px;
        padding: 12px 10px;
        margin: 50px 30px 0px 0px;
    }

    .header-text .btn2 {
        padding: 12px 15px;
    }

    .header-img {
        width: 400px;
        height: 400px;
    }

    .header-img img {
        width: 250px;
    }

    .about-me {
        justify-content: space-around;
    }

    .about-img {
        width: 250px;
        height: 250px;
    }

    .work-a1,
    .work-a2 {
        font-size: 14px;
        padding: 9px 28px;
    }

    .icon-png-section {
        height: 600px;
    }

    .Got-a-container {
        padding: 100px 0px;
    }

    .got-img img {
        margin: 80px 0px 0px 100px;
        width: 300px;
    }

    .name {
        width: 300px;
    }

    .input-class {
        width: 140px;
        height: 50px;
        font-size: 16px;
    }

    .input-message {
        width: 300px;
        font-size: 16px;
        height: 180px;
    }

    .ifram-div {
        width: 700px;
        height: 350px;
        margin-bottom: -150px;

    }

    .right-side h2 {
        margin: 10px 0 30px;
        font-size: 28px;
    }

    .info-item {
        margin-bottom: 20px;
    }

    .icon {
        font-size: 20px;
    }

    .info-text strong {
        font-size: 16px;
    }

    .info-text p {
        font-size: 12px;
    }

    .client-text {
        padding-left: 80px;
    }

    .footer-ocn {
        padding-block: 40px;
    }

}

/* -------------------------992px------------------------ */

@media only screen and (max-width: 992px) {

    h2 {
        font-size: 40px;
        padding-left: 20px;
    }

    p {
        font-size: 16px;
    }

    .container {
        width: 100%;
    }

    .logo {
        width: 200px;
    }

    .nav-ul {
        gap: 5px;
    }

    .nav-ul li a {
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 350;
    }

    .header-text h3 {
        font-size: 15px;
    }

    .header-text h2 {
        font-size: 23px;
    }

    .header-text h1 {
        font-size: 50px;
    }

    .header-text .btn1,
    .btn2 {
        font-weight: normal;
        padding: 10px 13px;
        margin: 30px 30px 0px 0px;
    }

    .header-text .btn2 {
        padding: 10px 15px;
    }

    .header-img {
        width: 300px;
        height: 300px;
    }

    .header-img img {
        width: 200px;
    }

    .about-me {
        justify-content: space-around;
        padding: 60px 0px 100px px;
    }

    .about-img {
        width: 200px;
        height: 200px;
    }

    .about-img img {
        top: 35px;
    }

    .progress-circle {
        width: 110px;
        height: 110px;
    }

    .progress-circle::before {
        width: 95px;
        height: 95px;
    }

    .progress-value {
        font-size: 12px;
        font-weight: 400;
    }

    .label {
        margin-top: 8px;
        font-size: 14px;
    }


    .skill-clidd2 h2 {
        padding: 0px 0px 20px 10px;
    }

    .skill-p2 {
        display: none;
    }

    .icon-png-section {
        height: 650px;
    }

    .work-div {
        padding: 0px;
    }

    .work-text {
        margin-left: 20px;
    }

    .work-ul {
        gap: 0px;
        margin-top: 20px;
    }

    .work-a1,
    .work-a2 {
        font-weight: normal;
        font-size: 14px;
        padding: 6px 20px;
        margin-left: 20px;
    }

    .Got-a-container {
        padding: 70px 5px;
    }

    .got-img img {
        margin: 60px 0px 0px 160px;
        width: 300px;
    }

    .name {
        width: 380px;
    }

    .input-class {
        width: 180px;
    }

    .input-message {
        width: 380px;
    }

    .send {
        font-size: 14px;
        padding: 8px 15px;
        margin-top: 15px;
    }


    .client-text {
        padding-left: 0px;
    }


    .second-slider-content {
        width: 200px;
    }

    .review-card {
        flex-direction: column;
        width: 200px;
        height: auto;
    }

    .profile-img {
        margin-bottom: 10px;
    }

    .review-header {
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .review-text {
        margin: 0;
    }

    .side-icon {
        display: none;
    }

    .footer-home i {
        gap: 20px;
        font-size: 12px;
    }

    .footer-icon a {
        width: 35px;
        height: 35px;
    }

}

/* -------------------------768px------------------------ */

@media only screen and (max-width: 768px) {

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }

    .scroll-button {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .logo {
        width: 150px;
    }

    .nav-ul li a {
        padding: 5px 10px;
        font-size: 13px;
        font-weight: 350;
    }

    .header-div {
        padding: 70px 0px 70px 0px;
    }

    .header-text h3 {
        font-size: 15px;
    }

    .header-text h2 {
        font-size: 18px;
        padding: 5px 0px;
    }

    .header-text h1 {
        font-size: 45px;
    }

    .header-text .btn1,
    .btn2 {
        font-size: 12px;
        padding: 5px 8px;
        margin: 20px 10px 0px 0px;
    }

    .header-text .btn2 {
        padding: 5px 12px;
    }

    .header-img {
        width: 270px;
        height: 270px;
    }

    .header-img img {
        width: 170px;
    }

    .about-me {
        padding: 30px 5px 80px 5px;
    }

    .about-text {
        width: 50%;
    }

    .about-text p {
        line-height: normal;
    }

    .about-img {
        width: 200px;
        height: 200px;
    }

    .skill {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        gap: 50px 0px;
        padding: 40px 0px;
    }

    .skill-clidd2 {
        width: 100%;
        padding: 0px 30px;
    }

    .skill-clidd2 h2 {
        text-align: center;
    }

    .icon-png-section {
        height: 500px;
    }

    .prev-btn,
    .next-btn {

        width: 30px;
        height: 30px;
        font-size: 18px;
    }

    .Got-a-container {
        padding: 70px 5px;
        flex-direction: column;
        gap: 100px;
    }

    .Got-a-div {
        width: 100%;
    }

    .got-img img {
        margin: 0px 0px 0px 160px;
    }

    .name {
        width: 380px;
    }

    .ifram-div {
        width: 90%;
        height: 100%;
        flex-direction: column;
        overflow: hidden;
        margin-bottom: -200px;
    }

    .left-side {
        width: 100%;
        height: 250px;
    }

    .right-side {
        width: 100%;
        height: auto;
        padding: 40px;
    }

}

/* -------------------------600px------------------------ */

@media only screen and (max-width: 600px) {

    h2 {
        font-size: 25px;
    }

    .nav-div {
        position: relative;
        justify-content: center;
        overflow: visible;
    }

    .hamburger {
        position: absolute;
        display: flex;
        left: 20px;
        font-size: 25px;
        cursor: pointer;
        color: #EEEEEE;
        z-index: 500;
    }

    #navMenu {
        display: none;
        background: rgba(0, 20, 30, 0.95);
        position: absolute;
        top: 62px;
        left: 0;
        width: 100%;
        /* padding: 0px 100px; */
        text-align: center;
        z-index: 200;
    }

    .nav-ul li {
        margin: 20px;
    }

    #navMenu.open {
        display: block;
    }

    .header-div {
        padding: 50px 0px 50px 0px;
        flex-direction: column;
    }

    .header-text {
        text-align: center;
    }

    .header-img {
        margin-top: 20px;
    }

    .about-me {
        padding: 50px 5px 50px 5px;
    }

    .about-text {
        text-align: center;
        width: 100%;
    }

    .work-a1,
    .work-a2 {
        font-size: 12px;
        padding: 6px 15px;
        margin-left: 15px;
    }

    .slider {
        width: 100%;
        gap: 0px;
    }

    .icon-png-section {
        height: 650px;
    }

    .designer-card {
        width: 300px;
    }

    .card-div {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        gap: 5px;
    }

    .card-img img {
        border-radius: 5px;
    }

    .card-div p {
        display: none;
    }

    .card-div h1 {
        padding: 20px;
    }

    .Got-a-container {
        padding: 70px 5px;
    }

    .got-img img {
        width: 250px;
        margin: 0px 0px 0px 70px;
    }

    .name {
        width: 100%;
        padding: 20px;
    }

    .name-div {
        flex-direction: column;
        margin-bottom: 30px;
        gap: 20px;
    }

    .input-class {
        width: 100%;
    }

    .input-message {
        width: 100%;
        height: 150px;

    }

    .right-side h6 {
        font-size: 10px;
    }

    .right-side h2 {
        font-size: 18px;
        margin: 10px 0 20px;

    }

    .info-item {
        margin-bottom: 10px;
    }

    .icon {
        font-size: 14px;
    }

    .info-text strong {
        font-size: 12px;
    }

    .info-text p {
        font-size: 10px;
    }

    hr {
        width: 95%;
        margin: 5px 0 10px;
    }

    .right-side {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .second-slider-content {
        gap: 0;
        width: 100%;
    }

    .review-card {
        width: 300px;
        flex-direction: row;
    }

    .review-header {
        flex-direction: row;
        margin-bottom: 15px;
        text-align: start;
    }

    .profile-img {
        margin: 0px 10px 0px 0px;
    }

    .footer-ocn {
        flex-direction: column;
        padding-block: 20px;
    }

    .footer-home i {
        display: inline;
        gap: 0px;
        margin: 0;
        font-size: 10px;
    }

    .footer-icon a {
        width: 30px;
        height: 30px;
        font-size: 16px;
        margin-top: 20px;
    }

    .copyright {
        width: 100%;
        font-size: 12px;
    }

    .name {
        padding: 0;
    }

}